.topscroll{
    display: flex;
    justify-content: end;
    margin-right: 3.5%;
}

.scroll-link{
    margin-top: 5%;
    font-size: 30px;
    transition: box-shadow 0.5s, background-color 0.5s, transform 0.5s;
    padding: 5px 10px;
    border: 1px solid grey;

    &:hover{
        transform: translateY(-10px);
        background-color: grey;
        cursor: pointer;
        box-shadow: 10px 5px 5px grey;    
    }
}