#footer{
    display: flex;
    justify-content: space-between;
    margin: 3.33%;
}

span{
    margin-left: 20px;
    font-size: 20px;
}

.fas, .far, .fab{
    color: grey;
    position: relative;

    &::after{
        content: '';
        width: 0;
        height: 3px;
        background: grey;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    &:hover::after{
        width: 100%;
   }
}

@media only screen and (max-width: 450px){
    h2{
        font-size: 15px;
    }
    span{
        font-size: 10px;
    }
}

@media only screen and (max-width: 950px) and (min-width: 451px){
    h2{
        font-size: 20px;
    }
    span{
        font-size: 15px;
    }
}
