@mixin picHoverEffect{
    transition: box-shadow 0.5s, transform 0.5s;

    &:hover{
        transform: translateY(-10px);
        box-shadow: 10px 5px 5px grey;    
    }
}

@mixin modelPic{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
}

.car-flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.car-flex-vertical-box{
    @include picHoverEffect();
    margin-top: 3.33%;
    // border: 1px solid black;
    width: 25%;
    height: 400px;
}

.car-flex-horizontal-box{
    @include picHoverEffect();
    margin-top: 3.33%;
    // border: 1px solid black;
    width: 40%;
    height: 400px;
}

.car-flex-rect-box{
    @include picHoverEffect();
    margin-top: 3.33%;
    // border: 1px solid black;
    width: 45%;
    height: 400px;
}

.car-box{
    @include modelPic();
}

@media only screen and (max-width: 450px){
    .car-flex-vertical-box{
        width: 96%;
    }
    .car-flex-horizontal-box{
        width: 96%;
        height: 300px;
    }
    .car-flex-rect-box{
        width: 96%;
        height: 300px;
    }
}

@media only screen and (max-width: 950px) and (min-width: 451px){
    .car-flex-vertical-box{
        width: 45%;
    }
    .car-flex-horizontal-box{
        width: 45%;
        height: 300px;
    }
    .car-flex-rect-box{
        width: 45%;
        height: 300px;
    }
}